<header class="navbar navbar-fixed-top navbar-inverse thirdnavbar">
  <div class="navbar-inner">
    <div class="container">
      <p id="logo" class="brand">add <%=whatToAdd%></p>
    </div>
  </div>
</header>