<header class="navbar navbar-fixed-top navbar-inverse secondnavbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "I'M DONE", user_path(@user), id: "logo", class: "centerHeading" %>
    </div>
  </div>
</header>