<% provide(:title, "StateAddition")	%>
	
<%= render 'layouts/writer_header' %>

<%= render 'layouts/writer_header2' %>

<div class="container"  style="background-color:#777777;border-radius:20px;margin:20px;margin-top:50px">

<div class="addEntryPoint" >
	<button id="addEntryPoint" class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px;">ADD/MODIFY ENTRY POINTS</button>
</div>

</br>

<div class="deleteEntryPoint" >
<button class="btn" type="button" style="width:300px;height:30px;margin:10px;margin-left:300px;">DELETE ENTRY POINTS</button>
</br>
</div>

</div>

<div   style="background-color:#777777;border-radius:20px;margin:20px;margin-top:30px">

<button class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px">ADD/MODIFY TOURIST SPOTS</button>

</br>

<button class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px">DELETE TOURIST SPOTS</button>

</br>

</div>

<div   style="background-color:#777777;border-radius:20px;margin:20px;margin-top:30px">

<button class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px">ADD/MODIFY HOTELS</button>

</br>

<button class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px">DELETE HOTELS</button>

</br>

</div>

<div   style="background-color:#777777;border-radius:20px;margin:20px;margin-top:30px">

<button class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px">ADD/MODIFY TRANSPORT STANDS</button>

</br>

<button class="btn" type="button" style="width:300px;margin:10px;margin-left:300px;height:30px">DELETE TRANSPORT STANDS</button>

</div>

</div>



